[Unit]
Description=Mailpile app

[Service]
Type=forking
WorkingDirectory=/home/admin/mailpile-for-yunohost/scripts
ExecStart=/usr/bin/screen -dmS mailpile bash run 
Restart=always
RestartSec=10
User=admin
Group=admin

[Install]
WantedBy=multi-user.target
